playbook_basename: goshimmer

goshimmer_repo_name: "iotaledger/goshimmer"
goshimmer_git_url: "https://github.com/{{ goshimmer_repo_name }}.git"
goshimmer_releases_url: "https://api.github.com/repos/{{ goshimmer_repo_name }}/releases"
goshimmer_releases_download_url: "https://github.com/{{ goshimmer_repo_name }}/releases/download"
goshimmer_git_dest: /opt/goshimmer

goshimmer_image: iotaledger/goshimmer
goshimmer_version: latest
goshimmer_user: shimmer
goshimmer_group: shimmer
goshimmer_uid: 65532
goshimmer_home_path: /var/lib/goshimmer
goshimmber_db_path: "{{ goshimmer_home_path }}/mainnetdb"
goshimmer_nofile_limit: 8192

# Ports
goshimmer_ports:
  autopeering_tcp:
    port: 14626
    proto: tcp
    allow: yes
  autopeering_udp:
    port: 14626
    proto: udp
    allow: yes
  gossip:
    port: 14666
    proto: tcp
    allow: yes
  fpc:
    port: 10895
    proto: tcp
    allow: yes
  analysis_dashboard:
    port: 8000
    proto: tcp
    allow: yes
  dashboard:
    port: 8081
    proto: tcp
    allow: yes
  webapi:
    port: 8080
    proto: tcp
    allow: yes
  graph:
    port: 8082
    proto: tcp
    allow: yes

goshimmer_ws_path: '/ws'

#
# plugis (will get overwritten in z-plugins.yaml
# when changes applied in gosc)
goshimmer_disable_plugins:
- portcheck
- remotelog
- profiling
- faucet
goshimmer_enable_plugins:
- networkdelay
- prometheus
- valuetransfers
- spammer

#
# webapi
goshimmer_webapi_external_address: 0.0.0.0
goshimmer_webapi_internal_address: 127.0.0.1
goshimmer_webapi_internal_port: "8012"
goshimmer_webapi_proxy_port: "{{ goshimmer_ports.webapi.port }}"

#
# dashabord
goshimmer_dashboard_external_address: 0.0.0.0
goshimmer_dashboard_internal_address: 127.0.0.1
goshimmer_dashboard_internal_port: "8011"
goshimmer_dashboard_proxy_port: "{{ goshimmer_ports.dashboard.port }}"

#
# prometheus
goshimmer_prometheus_exporter_internal_address: 127.0.0.1
goshimmer_prometheus_exporter_port: "9312"
