{
{% set c = goshimmer_config.analysis %}
  "analysis": {
    "client": {
      "serverAddress": "{{ c.client.serverAddress }}"
    },
    "server": {
      "bindAddress": "{{ c.server.bindAddress }}"
    },
    "dashboard": {
      "bindAddress": "{{ c.dashboard.bindAddress }}",
      "dev": {{ c.dashboard.dev | bool | lower | string }}
    }
  },
{% set c = goshimmer_config.autopeering %}
  "autopeering": {
    "entryNodes": {{ c.entryNodes | to_nice_json(indent=6) }},
    "port": {{ c.port | int }}
  },
{% set c = goshimmer_config.syncbeaconfollower %}
  "syncbeaconfollower": {
    "followNodes": {{ c.followNodes | to_nice_json(indent=6) }},
    "syncPercentage": {{ c.syncPercentage }}
  },
{% set c = goshimmer_config.dashboard %}
  "dashboard": {
    "bindAddress": "{{ c.bindAddress }}",
    "dev": {{ c.dev | bool | lower | string }},
    "basic_auth": {
      "enabled": {{ c.basic_auth.enabled | bool | lower | string }},
      "password": "{{ c.basic_auth.password }}",
      "username": "{{ c.basic_auth.username }}"
    }
  },
{% set c = goshimmer_config.database %}
  "database": {
    "directory": "{{ c.directory }}",
    "inMemory": {{ c.inMemory | bool | lower | string }}
  },
{% set c = goshimmer_config.drng %}
  "drng": {
    "instanceId": {{ c.instanceId | int }},
    "threshold": {{ c.threshold | int }},
    "distributedPubKey": "{{ c.distributedPubKey }}",
    "committeeMembers": {{ c.committeeMembers | to_nice_json(indent=6) }}
  },
{% set c = goshimmer_config.fpc %}
  "fpc": {
    "bindAddress": "{{ c.bindAddress }}"
  },
{% set c = goshimmer_config.gossip %}
  "gossip": {
    "port": {{ c.port | int }},
    "ageThreshold": "{{ c.ageThreshold }}",
    "tipsBroadcaster": {
      "interval": "{{ c.tipsBroadcaster.interval }}"
    }
  },
{% set c = goshimmer_config.logger %}
  "logger": {
    "level": "{{ c.level }}",
    "disableCaller": {{ c.disableCaller | bool | lower | string }},
    "disableStacktrace": {{ c.disableStacktrace | bool | lower | string }},
    "encoding": "{{ c.encoding }}",
    "outputPaths": {{ c.outputPaths | to_nice_json(indent=6) }},
    "disableEvents": {{ c.disableEvents | bool | lower | string }},
    "remotelog": {
      "serverAddress": "{{ c.remotelog.serverAddress }}"
    }
  },
{% set c = goshimmer_config.metrics %}
  "metrics": {
    "local": {{ c.local | bool | lower | string }},
    "global": {{ c.global | bool | lower | string }}
  },
{% set c = goshimmer_config.network %}
  "network": {
    "bindAddress": "{{ c.bindAddress }}",
    "externalAddress": "{{ c.externalAddress }}"
  },
{% set c = goshimmer_config.node %}
  "node": {
    "disablePlugins": {{ c.disablePlugins | to_nice_json(indent=6) }},
    "enablePlugins": {{ c.enablePlugins | to_nice_json(indent=6) }}
  },
{% set c = goshimmer_config.pow %}
  "pow": {
    "difficulty": {{ c.difficulty | int }},
    "numThreads": {{ c.numThreads | int }},
    "timeout": "{{ c.timeout }}"
  },
{% set c = goshimmer_config.profiling %}
  "profiling": {
    "bindAddress": "{{ c.bindAddress }}"
  },
{% set c = goshimmer_config.prometheus %}
  "prometheus": {
    "bindAddress": "{{ c.bindAddress }}"
  },
{% set c = goshimmer_config.webapi %}
  "webapi": {
    "auth": {
      "password": "{{ c.auth.password }}",
      "username": "{{ c.auth.username }}",
      "privateKey": "{{ c.auth.privateKey }}"
    },
    "bindAddress": "{{ c.bindAddress }}"
  },
{% set c = goshimmer_config.networkdelay %}
  "networkdelay": {
    "originPublicKey": "{{ c.originPublicKey }}"
  }
}
