{
  "analysis": {
    "client": {
      "serverAddress": "{{ goshimmer_analysis_client_address | default('node1.goshimmer.dev:188') }}"
    },
    "server": {
      "bindAddress": "{{ goshimmer_analysis_server_bind_address | default('0.0.0.0:16178') }}"
    },
    "webInterface": {
      "bindAddress": "{{ goshimmer_analysis_webInterface_bind_address | default('0.0.0.0:80') }}"
    }
  },
  "autopeering": {
    "entryNodes": {{ goshimmer_autopeering_entrynodes | to_nice_json(indent=6) }},
    "port": {{ goshimmer_autopeering_port | default('14626') }}
  },
  "dashboard": {
    "bindAddress": "{{ goshimmer_dashboard_internal_address | default('0.0.0.0') }}:{{ goshimmer_dashboard_internal_port | default('8081') }}",
    "dev": {{ goshimmer_dashboard_dev_enabled | default('false') | lower | string }},
    "basic_auth": {
      "enabled": {{ goshimmer_dashboard_basic_auth | default('false') | lower | string }},
      "password": "{{ fullnode_user_password }}",
      "username": "{{ fullnode_user }}"
    }
  },
  "database": {
    "directory": "mainnetdb"
  },
  "drng": {
    "instanceId": 1,
    "threshold": 3,
    "distributedPubKey": "",
    "committeeMembers": []
  },
  "gossip": {
    "port": {{ goshimmer_gossip_port | default('14666') }}
  },
  "graph": {
    "bindAddress": "{{ goshimmer_graph_internal_address | default('0.0.0.0') }}:{{ goshimmer_graph_internal_port | default('8082') }}",
    "domain": "{{ goshimmer_domain_address | default('') }}",
    "networkName": "GoShimmer",
    "socketIOPath": "/socket.io-client/dist/socket.io.js",
    "webrootPath": "/IOTAtangle/webroot"
  },
  "logger": {
    "level": "{{ goshimmer_logger_level | default('info') }}",
    "disableCaller": false,
    "disableStacktrace": false,
    "encoding": "console",
    "outputPaths": [
      "stdout"
    ],
    "disableEvents": {{ goshimmer_logger_disable_events | default('true') | lower | string }},
    "remotelog": {
      "serverAddress": "remotelog.goshimmer.iota.cafe:5213"
    }
  },
  "network": {
    "bindAddress": "{{ goshimmer_network_bind_address | default('0.0.0.0') }}",
    "externalAddress": "auto"
  },
  "node": {
    "disableplugins": {{ goshimmer_disable_plugins | to_nice_json(indent=6) }},
    "enableplugins": {{ goshimmer_enable_plugins | to_nice_json(indent=6) }}
  },
  "webapi": {
    "auth": {
      "password": "{{ fullnode_user_password }}",
      "privateKey": "{{ goshimmer_webapi_auth_private_key | default('') }}",
      "username": "{{ fullnode_user }}"
    },
    "bindAddress": "{{ goshimmer_webapi_internal_address | default('0.0.0.0') }}:{{ goshimmer_webapi_internal_port | default('8080') }}"
  }
}
