# goshimmer image tag (=version)
TAG={{ goshimmer_tag }}

# goshimmer base image
SHIMMER_IMAGE={{ goshimmer_image }}

# Command line options to pass to goshimmer executable
# E.g. "--config config --autopeering.port 5555"
OPTIONS=""

# Optional options for Docker
DOCKER_OPTS=""
