# goshimmer image tag (=version)
TAG={{ goshimmer_tag }}

# goshimmer base image
SHIMMER_IMAGE={{ goshimmer_image }}

# Command line options to pass to goshimmer executable
OPTIONS="-node-enable-plugins 'dashboard spammer' -node-disable-plugins statusscreen -autopeering-entry-nodes '7f7a876a4236091257e650da8dcf195fbe3cb625@159.69.158.51:14626 95030b3150264a0a248765c998ec86ea0df94a20@159.69.207.2:14626'"

# Optional options for Docker
DOCKER_OPTS=""
