{
  "analysis": {
    "client": {
      "serverAddress": "{{ goshimmer_config_analysis_client_serverAddress }}"
    },
    "server": {
      "bindAddress": "{{ goshimmer_config_analysis_server_bindAddress }}"
    },
    "dashboard": {
      "bindAddress": "{{ goshimmer_config_analysis_dashboard_bindAddress }}",
      "dev": {{ goshimmer_config_analysis_dashboard_dev | bool | lower | string }}
    }
  },
  "autopeering": {
    "entryNodes": {{ goshimmer_config_autopeering_entryNodes | to_nice_json(indent=6) }},
    "port": {{ goshimmer_config_autopeering_port | int }}
  },
  "syncbeaconfollower": {
    "followNodes": {{ goshimmer_config_syncbeaconfollower_followNodes | to_nice_json(indent=6) }},
    "syncPercentage": {{ goshimmer_config_syncbeaconfollower_syncPercentage | float }}
  },
  "dashboard": {
    "bindAddress": "{{ goshimmer_config_dashboard_bindAddress }}",
    "dev": {{ goshimmer_config_dashboard_dev | bool | lower | string }},
    "basic_auth": {
      "enabled": {{ goshimmer_config_dashboard_basic_auth_enabled | bool | lower | string }},
      "password": "{{ goshimmer_config_dashboard_basic_auth_password }}",
      "username": "{{ goshimmer_config_dashboard_basic_auth_username }}"
    }
  },
  "database": {
    "directory": "{{ goshimmer_config_database_directory }}",
    "inMemory": {{ goshimmer_config_database_inMemory | bool | lower | string }}
  },
  "drng": {
    "pollen": {
      "instanceId": {{ goshimmer_config_drng_pollen_instanceId | int }},
      "threshold": {{ goshimmer_config_drng_pollen_threshold | int }},
      "distributedPubKey": "{{ goshimmer_config_drng_pollen_distributedPubKey }}",
      "committeeMembers": {{ goshimmer_config_drng_pollen_committeeMembers | to_nice_json(indent=6) }}
    },
    "xteam": {
      "instanceId": {{ goshimmer_config_drng_xteam_instanceId | int }},
      "threshold": {{ goshimmer_config_drng_xteam_threshold | int }},
      "distributedPubKey": "{{ goshimmer_config_drng_xteam_distributedPubKey }}",
      "committeeMembers": {{ goshimmer_config_drng_xteam_committeeMembers | to_nice_json(indent=6) }}
    },
    "custom": {
      "instanceId": {{ goshimmer_config_drng_custom_instanceId | int }},
      "threshold": {{ goshimmer_config_drng_custom_threshold | int }},
      "distributedPubKey": "{{ goshimmer_config_drng_custom_distributedPubKey }}",
      "committeeMembers": {{ goshimmer_config_drng_custom_committeeMembers | to_nice_json(indent=6) }}
    }
  },
  "fpc": {
    "bindAddress": "{{ goshimmer_config_fpc_bindAddress }}"
  },
  "gossip": {
    "port": {{ goshimmer_config_gossip_port | int }},
    "ageThreshold": "{{ goshimmer_config_gossip_ageThreshold }}",
    "tipsBroadcaster": {
      "interval": "{{ goshimmer_config_gossip_tipsBroadcaster_interval }}"
    }
  },
  "logger": {
    "level": "{{ goshimmer_config_logger_level }}",
    "disableCaller": {{ goshimmer_config_logger_disableCaller | bool | lower | string }},
    "disableStacktrace": {{ goshimmer_config_logger_disableStacktrace | bool | lower | string }},
    "encoding": "{{ goshimmer_config_logger_encoding }}",
    "outputPaths": {{ goshimmer_config_logger_outputPaths | to_nice_json(indent=6) }},
    "disableEvents": {{ goshimmer_config_logger_disableEvents | bool | lower | string }},
    "remotelog": {
      "serverAddress": "{{ goshimmer_config_logger_remotelog_serverAddress }}"
    }
  },
  "metrics": {
    "local": {{ goshimmer_config_metrics_local | bool | lower | string }},
    "global": {{ goshimmer_config_metrics_global | bool | lower | string }}
  },
  "mana": {
    "allowedAccessFilterEnabled": {{ goshimmer_config_mana_allowedAccessFilterEnabled | bool | lower | string }},
    "allowedAccessPledge": {{ goshimmer_config_mana_allowedAccessPledge | to_nice_json(indent=6) }},
    "allowedConsensusFilterEnabled": {{ goshimmer_config_mana_allowedConsensusFilterEnabled | bool | lower | string }},
    "allowedConsensusPledge": {{ goshimmer_config_mana_allowedConsensusPledge | to_nice_json(indent=6) }}
  },
  "network": {
    "bindAddress": "{{ goshimmer_config_network_bindAddress }}",
    "externalAddress": "{{ goshimmer_config_network_externalAddress }}"
  },
  "node": {
    "disablePlugins": {{ goshimmer_config_node_disablePlugins | to_nice_json(indent=6) }},
    "enablePlugins": {{ goshimmer_config_node_enablePlugins | to_nice_json(indent=6) }}
  },
  "pow": {
    "difficulty": {{ goshimmer_config_pow_difficulty | int }},
    "numThreads": {{ goshimmer_config_pow_numThreads | int }},
    "timeout": "{{ goshimmer_config_pow_timeout }}"
  },
  "profiling": {
    "bindAddress": "{{ goshimmer_config_profiling_bindAddress }}"
  },
  "prometheus": {
    "bindAddress": "{{ goshimmer_config_prometheus_bindAddress }}"
  },
  "webapi": {
    "auth": {
      "password": "{{ goshimmer_config_webapi_auth_password }}",
      "username": "{{ goshimmer_config_webapi_auth_username }}",
      "privateKey": "{{ goshimmer_config_webapi_auth_privateKey }}"
    },
    "bindAddress": "{{ goshimmer_config_webapi_bindAddress }}"
  },
  "networkdelay": {
    "originPublicKey": "{{ goshimmer_config_networkdelay_originPublicKey }}"
  }
}
