[Unit]
Description=GoShimmer IOTA
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
TimeoutStopSec={{ goshimmer_wait_stop_sec | default('1200') }}

Restart=always
EnvironmentFile=-{{ config_dir }}/goshimmer
SuccessExitStatus={{ service_success_exit_status | default('143') }}
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm %p || /bin/true"
ExecStart=/usr/bin/docker run \
  --name %p \
  --net=host \
  --user={{ goshimmer_uid.stdout }} \
  --cap-drop=ALL \
  -v /etc/localtime:/etc/localtime:ro,Z \
  -v {{ goshimmer_home_path }}/config.json:/app/config.json:ro,Z \
  -v {{ goshimmber_db_path }}:/app/mainnetdb:rw,Z \
  -v {{ tanglevisualiser_path }}:/app/IOTAtangle:ro,Z \
  -v {{ socketio_path }}:/app/socket.io-client:ro,Z \
  --ulimit nofile={{ goshimmer_nofile_limit }}:{{ goshimmer_nofile_limit }} \
  $DOCKER_OPTS \
  ${SHIMMER_IMAGE}:${TAG} \
  $OPTIONS
ExecStop=/usr/bin/docker stop --time {{ goshimmer_wait_stop_sec | default('1200') }} %p
ExecReload=/usr/bin/docker restart --time {{ goshimmer_wait_stop_sec | default('1200') }} %p

[Install]
WantedBy=multi-user.target
