# Rate limit requests
limit_req_zone $binary_remote_addr zone=goshimmer:{{ nginx_shared_mem_rate_limit | default('2m') }} rate={{ nginx_req_per_sec | default('10') }}r/s;

#
# goshimmer webapi
#
upstream goshimmer_ui {
    server {{ goshimmer_webapi_internal_address }}:{{ goshimmer_internal_webapi_port }};
}

server {
    limit_req zone=goshimmer burst={{ vhost_nginx_burst_limit | default('20') }};
    listen {{ goshimmer_webapi_external_address }}:{{ goshimmer_webapi_proxy_port }} default_server ssl http2;
    server_name _;
    server_tokens off;

    # Redirect same port from http to https
    # This directive is only used when using any
    # port other than 80
    error_page 497 https://$host:$server_port$request_uri;

    # Here you would include the SSL directives
    # or include a file containing the SSL directives
    include /etc/nginx/conf.d/ssl.cfg;

    # For password authentication use a htpasswd file
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.htpasswd;

    location /ws {
        proxy_pass http://goshimmer_ui/ws;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 86400;
    }

    location / {
        proxy_pass http://goshimmer_ui;
    }
}

#
# goshimmer dashboard
#
upstream goshimmer_dashboard {
    server {{ goshimmer_dashboard_internal_address }}:{{ goshimmer_dashboard_internal_port }};
}

server {
    limit_req zone=goshimmer burst={{ vhost_nginx_burst_limit | default('20') }};
    listen {{ goshimmer_dashboard_external_address }}:{{ goshimmer_dashboard_proxy_port }} default_server ssl http2;
    server_name _;
    server_tokens off;

    # Redirect same port from http to https
    # This directive is only used when using any
    # port other than 80
    error_page 497 https://$host:$server_port$request_uri;

    # Here you would include the SSL directives
    # or include a file containing the SSL directives
    include /etc/nginx/conf.d/ssl.cfg;

    # For password authentication use a htpasswd file
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.htpasswd;

    location / {
        proxy_pass http://goshimmer_dashboard;
    }
}
