- name: remove goshimmer image
  block:

    - name: "stopping goshimmer service, this might take a moment..."
      systemd:
        name: goshimmer.service
        state: stopped
      ignore_errors: yes
    - name: delete goshimmer image
      docker_image:
        name: "{{ goshimmer_image }}"
        tag: "{{ goshimmer_tag }}"
        state: absent
        force_absent: yes
      vars:
        ansible_python_interpreter: /usr/bin/python3

  when: remove_goshimmer_image|default(False)|bool

- name: download goshimmer from dockerhub (for arch amd64 only)
  when:
    - "server_arch == 'amd64'"
    - not build_image|default(False)|bool
  docker_image:
    name: "{{ goshimmer_image }}:{{ goshimmer_tag }}"
    source: pull
  register: image_built
  ignore_errors: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3

- name: build goshimmer image
  when: >
        server_arch != 'amd64' or
        ('failed' in image_built and image_built.failed) or
        build_image|default(False)|bool
  block:

    - name: check goshimmer image exists
      shell: "/usr/bin/docker images {{ goshimmer_image }}:{{ goshimmer_tag }} | grep -q ^goshimmer"
      changed_when: False
      register: goshimmer_image_stat
      failed_when: "goshimmer_image_stat.rc > 1"

    # TODO once goshimmer add this to the repo
    - name: copy arm64 file if needed
      copy:
        path: files/Dockerfile.arm64
        dest: "{{ goshimmer_git_dest }}/Dockerfile.arm64"
      when: ansible_architecture in ["armv8l", "aarch64"]

    - name: set dockerfile
      set_fact:
        goshimmer_dockerfile: >-
          {%- if server_arch == 'amd64' -%}
          Dockerfile
          {%- else -%}
          Dockerfile.{{ server_arch }}
          {%- endif -%}

    - name: build goshimmer image, this can take a moment...
      docker_image:
        build:
          path: "{{ goshimmer_git_dest }}"
          pull: no
          network: host
          dockerfile: '{{ goshimmer_dockerfile }}'
          args:
            ARCH: "{{ server_arch | default('amd64') }}"
        name: "{{ goshimmer_image }}"
        tag: "{{ goshimmer_tag }}"
        source: build
      notify:
        - restart goshimmer
      register: build_image_status
      until: build_image_status is succeeded
      retries: 3
      delay: 2
      vars:
        ansible_python_interpreter: /usr/bin/python3
      when: >
            goshimmer_image_stat.rc == 1 and
            (images_from_master is not defined or
            images_from_master|bool == False)

    # TODO remove when goshimmer add this file to their repo
    - name: delete arm64 file if needed
      file:
        state: absent
        path: "{{ goshimmer_git_dest }}/Dockerfile.arm64"
      when: ansible_architecture in ["armv8l", "aarch64"]
