- set_fact:
    server_arch: >-
      {%- if ansible_architecture in ["armv7l", "armhf", "aarch32"] -%}
      armhf
      {%- elif ansible_architecture in ["armv8l", "aarch64"] -%}
      arm64
      {%- elif ansible_architecture == "x86_64" -%}
      amd64
      {%- endif -%}
  tags: always

- import_tasks: deps_apt.yml
  tags:
    - goshimmer_deps_apt
  when:
    - ansible_distribution in debian_family_list
    - install_system_deps|default(False)|bool

- import_tasks: deps_yum.yml
  tags:
    - goshimmer_deps_yum
  when:
    - ansible_distribution in redhat_family_list
    - install_system_deps|default(False)|bool

- import_tasks: pip.yml
  tags:
    - py_docker

# TODO: check if needed
#- import_tasks: tanglemonitor.yml
#  tags:
#    - tanglemonitor_role

- import_tasks: tanglevisualiser.yml
  tags:
    - tanglevisualiser_role

- name: set ip variable if not set
  set_fact:
    ip: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
  when: ip is not defined

- import_tasks: firewalld.yml
  tags:
    - goshimmer_firewalld
  when:
    - ansible_distribution in redhat_family_list
    - configure_firewall|default(False)|bool

- import_tasks: ufw.yml
  tags:
    - goshimmer_ufw
  when:
    - ansible_distribution in debian_family_list
    - configure_firewall|default(False)|bool

- import_tasks: goshimmer.yml
  tags:
    - goshimmer_config

- import_tasks: ssl.yml
  tags:
    - goshimmer_ssl
